



/* theme options */
.bordered{
    background-color: #111111;
}

/* container */
#header .container{
    width: 1170px;
}
#content .container{
    width: 1170px;
}
#footer .container{
    width: 88%;
}
#status {
    background-size: 40px 40px;
}
.bordered-main-wrap {
    padding-left: 0px;
    padding-right: 0px;
}

@media only screen and (max-width: 768px) {
    header#header.inner-head-wrap.header-expanded {
        background-color: transparent;
    }
    header#header.inner-head-wrap.header-expanded.alt-head {
        background-color: #000000;
    }
}

#status {
    background-image: url(/wp-content/uploads/sites/96/2018/03/loading.gif);
}

/* header area contents */
#header .logo-image, #header .logo-title {
    padding-top: 0px;
    padding-bottom: 0px;
}

header#header .container {
    width: 1170px;
;
}
header#header.inner-head-wrap {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;

    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: center center;
    background-size: inherit;
    background-image: none;
}
.sticky-header-wrap.scrolled header#header.inner-head-wrap {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 0px;
    padding-left: 0px;
    -moz-transition: all 0.6s ease 0s;
    -ms-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}
.sticky-header-wrap.scrolled {
    background-color: #ffffff;
    -moz-transition: all 0.6s ease 0s;
    -ms-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}
.sticky-header-wrap.scrolled a, .sticky-header-wrap.scrolled i {
    color: #000000 !important;
    -moz-transition: all 0.6s ease 0s;
    -ms-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}
#header.alt-head #showMenu span {
    background-color: #ffffff;
}

.fl.vertical.header_left_nofloat {
    margin-top: 0px;
    margin-bottom: 0px;
}

.fr.vertical.header_right_nofloat {
    padding-top: 0px;
    padding-bottom: 0px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.fl.horizontal .head-item {
    margin-left: 0px;
    margin-right: 0px;
}

.fr .head-item {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.fr.horizontal .head-item {
    margin-left: 0px !important;
    margin-right: 20px !important;
}

@media only screen and (max-width: 768px) {
    header#header.inner-head-wrap {
        padding-left: 30px;
        padding-right: 30px;
    }
    header#header .logo.head-item {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .header-style-1 .fr .head-item.search-wrap, header#header .main-menu-btn {
        margin-top: 15px !important;
        margin-bottom: 0px !important;
    }
}

/* footer area content */

#footer .footer-wrap {
    padding-top: 0px;
    padding-bottom: 0px;
}
#footer {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: center center;
    background-size: inherit;
    background-image: none;
}
.foot-col.item-col-1 .foot-col-item {
    margin-top: 25px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}
.foot-col.item-col-1 .foot-col-item:first-child {
    margin-left: 0;
}
.foot-col.item-col-1 .foot-col-item:last-child {
    margin-right: 0;
}

.foot-col.item-col-2 .foot-col-item {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
    margin-right: 0px;
}
.foot-col.item-col-2 .foot-col-item:first-child {
    margin-left: 0;
}
.foot-col.item-col-2 .foot-col-item:last-child {
    margin-right: 0;
}

.foot-col.item-col-3 .foot-col-item {
    margin-top: 25px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}
.foot-col.item-col-3 .foot-col-item:first-child {
    margin-left: 0;
}
.foot-col.item-col-3 .foot-col-item:last-child {
    margin-right: 0;
}

.foot-col.item-col-4 .foot-col-item {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}
.foot-col.item-col-4 .foot-col-item:first-child {
    margin-left: 0;
}
.foot-col.item-col-4 .foot-col-item:last-child {
    margin-right: 0;
}

/*fonts*/
body, body p, .comment-respond form p.form-submit input, .blog-item .meta-wrapper .author a, .blog-item .meta-wrapper span.standard-post-categories {
    /*font-family: Raleway;*/
    font-family: 'IBM Plex Sans', sans-serif;

    font-weight: 400;
    text-align: inherit;
    font-size: 16px;
    line-height: 25.6px;
    word-spacing: 0px;
    letter-spacing: 0px;
}
h1, h2, h3, h4, h5, h6 {
    /*font-family: Lora;*/
    font-family: 'IBM Plex Sans', sans-serif;

    font-weight: 400;
    text-align: inherit;
}

.meta.meta-comments .comments {
    font-family: Lora;
}

h1 {
    text-align: inherit;
    font-size: 42px;
    line-height: 47.25px;
    word-spacing: 0px;
    letter-spacing: 0px;
}
h2 {
    text-align: inherit;
    font-size: 36px;
    line-height: 45px;
    word-spacing: 0;
    letter-spacing: 0;
}
h3 {
    text-align: inherit;
    font-size: 24px;
    line-height: 30px;
    word-spacing: 0;
    letter-spacing: 0;
}
h4 {
    text-align: inherit;
    font-size: 18px;
    line-height: 23.4px;
    word-spacing: 0;
    letter-spacing: 0;
}
h5 {
    text-align: inherit;
    font-size: 16px;
    line-height: 22px;
    word-spacing: 0;
    letter-spacing: 0;
}
h6 {
    text-align: inherit;
    font-size: 14px;
    line-height: 19.6px;
    word-spacing: 0;
    letter-spacing: 0;
}

@media only screen and (max-width: 768px) {
    #main-wrapper #header #primary-menu li a {
        font-weight: 500;
        text-align: center;
        font-size: 16px;
        line-height: 25.6px;
        word-spacing: 0;
        letter-spacing: 0;
    }
}




/* HEADER SECTION
================================================================ */

/* Header Default Styling --- */

.header-style-1-wrap .main-menu ul.sm-clean>li>a, .header-style-1-wrap .main-menu ul.sm-clean>li>a:active, .header-style-1-wrap .search-wrap #btn-search i, .header-style-1-wrap .main-menu ul.sm-clean>li.current-menu-item>a, .header-style-1-wrap .main-menu ul.sm-clean>li>a:hover{
    color: #000000;
}
.sm-clean a span.sub-arrow{
    border-top-color: #000000;
}
.header-style-1-wrap .main-menu ul.sm-clean>li>a:hover, .header-style-1-wrap .menu__item:hover .menu__link{
    color: #111111;
}
.header-style-1-wrap .main-menu ul.sm-clean>li>a::before, .header-style-1-wrap .main-menu ul.sm-clean>li.current-menu-item>a::before,
.header-style-1-wrap .main-menu ul.sm-clean>li>a::after, .header-style-1-wrap .main-menu ul.sm-clean>li.current-menu-item>a::after,
.header-style-1-wrap .main-menu ul.sm-clean>li::before,
.header-style-1-wrap .main-menu ul.sm-clean>li::after{
    background-color: #000000;
    border-color: #000000;
}
.header-style-1-wrap ul.sm-clean ul{
    background-color: #000000;
}
.header-style-1-wrap ul.sm-clean ul li a{
    color: #ffffff;
}
.header-style-1 .btn--search-close{
    color: #ffffff;
}
.header-style-1 .search__info{
    color: #ffffff;
}
.header-style-1 .search__suggestion h4{
    color: #ffffff;
}
.header-style-1 .search__suggestion h4::before{
    background-color: #ffffff;
}
.header-style-1 .search__suggestion p{
    color: #ffffff;
}
.header-style-1 .search__input{
    color: #ffffff;
}


/* Header Alternative Styling --- */

body .alt-head .main-menu ul.sm-clean>li>a:hover,
.header-style-1-wrap.alt-head .main-menu ul.sm-clean>li>a:hover,
.header-style-1-wrap.alt-head .menu__item:hover .menu__link{
    color: #dddddd;
}
body .alt-head .main-menu ul.sm-clean>li>a::before, body .alt-head .main-menu ul.sm-clean>li.current-menu-item>a::before{
    background-color: #ffffff;
}


/* Header Style 2 --- */

.header-style-5 #showMenu span, .header-style-4 #showMenu span, .header-style-6 #showMenu span{
    background-color: #000000;
}
.effect-moveleft .outer-nav a, .effect-airbnb .outer-nav a, .effect-movedown.animate .outer-nav a{
    color: #000000;
}
.effect-moveleft .outer-nav a:hover, .effect-airbnb .outer-nav a:hover, .effect-movedown.animate .outer-nav a:hover{
    color: #999999;
}


/* CONTENT SECTION
================================================================ */

/* Blog --- */

.post-masonry-style .loop-content .category a{
    color: #F4AD20;
}
.post-masonry-style .loop-content .category a:hover{
    color: #666666;
}
.post-masonry-style .loop-content .category:after{
    background-color: #F4AD20;
}
.post-masonry-style .loop-content h4.title a{
    color: #555555;
}
.post-masonry-style .loop-content h4.title a:hover{
    color: #999999;
}
.post-masonry-style .loop-content .date{
    color: #888888;
}
.post-masonry-style .loop-content p{
    color: #666666;
}
.post-masonry-style a.more{
    color: #ffffff;
}
.post-masonry-style a.more:hover{
    color: #000000;
}
.post-masonry-style a.more{
    background-color: #F4AD20;
}
.post-masonry-style a.more:hover{
    background-color: #eaeaea;
}
.post-masonry-style .loop-content{
    background-color: #ffffff;
}
.post-masonry-style .loop-content{
    border-bottom-color: #F4AD20;
}


/* Single Blog --- */

.blog-item .meta-wrapper a, .single-post-style-3-inner-content h1.post-title a{
    color: #000000;
}
.blog-item .meta-wrapper a:hover, .single-post-style-3-inner-content h1.post-title a:hover{
    color: #666666;
}
.blog-style-2 .post-content-style-2, .blog-item .meta-wrapper .author a, .author-separator, .blog-item .meta-wrapper .date a, .date span, .blog-item .meta-wrapper .standard-post-categories a, .social-share-wrapper span, .blog-single .meta-info, .single-post-style-3-inner-content .post-meta span.vcard{
    color: #000000;
}
.blog-item .meta-wrapper .author a:hover, .blog-item .meta-wrapper .date a:hover, .blog-item .meta-wrapper .standard-post-categories a:hover, .single-post-style-3-inner-content .post-meta span.vcard:hover{
    color: #999999;
}
.magazine-post-style .standard-post-categories .post-categories a{
    background-color: #F4AD20;
}
.magazine-post-style .standard-post-categories .post-categories a:hover{
    background-color: #9cc3a1;
}
.magazine-post-style .standard-post-categories .post-categories a{
    color: #ffffff;
}
.magazine-post-style .standard-post-categories .post-categories a:hover{
    color: #f5f5f5;
}
.meta.meta-comments a.comments span, .icon-simple-line-icons-124:before{
    color: #000000;
}
.meta.meta-comments a.comments:hover span{
    color: #666666;
}
.separator-line{
    background-color: #dedede;
}
.separator-line>span{
    background-color: #F4AD20;
}
.post-content .post-text p, .comment-content p{
    color: #777777;
}
.post-content blockquote p{
    color: #000000;
}
.post-text blockquote p:before{
    border-color: #eaeaea;
}
.post-text blockquote p:after{
    color: #111111;
}
.tag-wrapper a, .tag-wrapper span{
    color: #000000;
}
.tag-wrapper a:hover{
    color: #666666;
}
.single-post-style .tag-wrapper a{
    background-color: #f3f3f3;
}
.single-post-style .tag-wrapper a:hover{
    background-color: #e6e6e6;
}
.meta-content-bottom{
    background-color: #f2f2f2;
}
.blog-single .post-author{
    border-top-color: #F4AD20;
}
.magazine-post-style .author-desc span{
    color: #000000;
}
.magazine-post-style .author-desc a{
    color: #F4AD20;
}
.magazine-post-style .author-desc a:hover{
    color: #9cc3a1;
}
.blog-single .next-prev-post, .comment-list{
    border-top-color: #f2f2f2;
    border-bottom-color: #f2f2f2;
}
.magazine-post-style .next-prev-post .column p{
    color: #000000;
}
.magazine-post-style .next-prev-post .column p i{
    color: #F4AD20;
}
.blog-single .next-prev-post a{
    color: #000000;
}
.blog-single .next-prev-post a:hover{
    color: #999999;
}
.comment-respond h3.comment-reply-title, .comments-title h3{
    color: #000000;
}
.comment-respond form p.logged-in-as a, .comment-respond form p.logged-in-as, .comment-action a{
    color: #999999;
}
.comment-respond form p.logged-in-as a:hover, .comment-action a:hover{
    color: #000000;
}
.comment-respond form p.form-submit input, .contact-form-style-1 .wpcf7-submit, .contact-form-style-2 .wpcf7-submit{
    background-color: #000000;
}
.comment-respond form p.form-submit input, .contact-form-style-1 .wpcf7-submit, .contact-form-style-2 .wpcf7-submit{
    color: #ffffff;
}
.archive .post-navigation .btn, .search-page .post-navigation .btn{
    color: #ffffff;
}


/* Sidebar & Widget --- */

.sidebar .widget.widget_search input{
    background-color: #ffffff;
}
.sidebar .widget.widget_search button{
    background-color: #F4AD20;
}
.sidebar .widget.widget_search button i{
    color: #ffffff;
}
.sidebar .widget.widget_search input{
    color: #aaaaaa;
}
.sidebar .widget{
    background-color: #ffffff;
}
.sidebar .widget h4.widget-title{
    color: #555555;
}
.sidebar .widget h4.widget-title:after{
    background-color: #F4AD20;
}
.sidebar #recent-posts-2 ul li a, .sidebar .widget .recent-news .post-content h5 a, .sidebar #recent-comments-2 ul li a, li.recentcomments, .sidebar #archives-2 ul li a, .sidebar #categories-2 ul li a, .sidebar #meta-2 ul li a, .latest-post-wrap h5 a, .latest-post-wrap .post-content h5{
    color: #555555;
}
.sidebar #recent-posts-2 ul li a:hover, .sidebar .widget .recent-news .post-content h5 a:hover, .sidebar #recent-comments-2 ul li a:hover, li.recentcomments:hover, .sidebar #archives-2 ul li a:hover, .sidebar #categories-2 ul li a:hover, .sidebar #meta-2 ul li a:hover, .latest-post-wrap h5 a:hover, .latest-post-wrap .post-content h5:hover{
    color: #999999;
}
.widget.widget_nikah_news .nav-tabs li.active, .widget.widget_nikah_news .post-item:before{
    background-color: #F4AD20;
}
.widget.widget_nikah_news .nav-tabs li.active a, .widget.widget_nikah_news .post-item:before{
    color: #ffffff;
}
.widget.widget_nikah_news .nav-tabs li{
    background-color: #ffffff;
}
.widget.widget_nikah_news .nav-tabs li a{
    color: #555555;
}
.widget.widget_nikah_news .nav-tabs li a:hover{
    color: #999999;
}
.widget.widget_nikah_news .nav-tabs{
    border-bottom-color: #F4AD20;
}


/* Contact --- */

.contact-form-style-2 .contact-item2:before, .contact-ef .border-form-top, .contact-ef{
    background-color: #cdcdcc
}
.contact-form-style-2 .contact-item2:after{
    background-color: #000000
}
.contact-form-style-1 .contact-bordered input, .contact-form-style-2 .contact-item2 input, .contact-bordered.text-area textarea, .contact-form-style-2 .contact-item2 textarea{
    color: #000000
}
.contact-form-style-1 input.wpcf7-submit, .contact-form-style-2 input.wpcf7-submit{
    background-color: #F4AD20
}
.contact-form-style-1 input.wpcf7-submit, .contact-form-style-2 input.wpcf7-submit{
    color: #ffffff
}
.contact-form-style-1 input.wpcf7-submit:hover, .contact-form-style-2 input.wpcf7-submit:hover{
    background-color: #69b273
}
.contact-form-style-1 input.wpcf7-submit:hover, .contact-form-style-2 input.wpcf7-submit:hover{
    color: #ffffff
}


/*========== PORTFOLIO SINGLE ==========*/

.header-style-1 .page-title h2, .post-title-porto-2 h1{
    color: #000000;
}
.portfolio-style1 span.category, .post-title-porto-2 span.category{
    color: #F4AD20;
}
.portfolio-style1 .project-details ul li span, .portfolio-details .detail-title{
    color: #000000;
}
.portfolio-style1 .project-details ul li p, .portfolio-details .detail-info{
    color: #888888;
}
.portfolio-style1 .project-details ul li, .portfolio-details .detail-item{
    border-bottom-color: #e5e5e5;
}
.portfolio-content p{
    color: #555555;
}
.portfolio-style1 .portfolio-pagination .prev-portfolio a, .portfolio-style1 .portfolio-pagination .all-portfolio a, .portfolio-style1 .portfolio-pagination .next-portfolio a{
    color: #000000;
}
.portfolio-style1 .portfolio-pagination a:hover{
    color: #666666;
}




/* FOOTER SECTION
================================================================ */

/* Footer --- */

.copyright-text, .footer-text-area{
    color: #000000;
}
.copyright-text a, .footer-menu li a{
    color: #000000;
}
.copyright-text a:hover, .footer-menu li a:hover{
    color: #333333;
}
.footer-bottom .social-footer ul li a{
    color: #333333;
}
.footer-bottom .social-footer ul li a:hover{
    color: #F4AD20;
}
.footer-widget-wrapper{
    background-color: #ffffff;
}
.footer-widget .widget-footer h4.widget-title{
    color: #000000;
}
.footer-widget .widget-footer .latest-post-widget a, .footer-widget .widget-footer .latest-post-wrap h5, .footer-widget .widget_nav_menu ul li a, .footer-widget .widget-footer a{
    color: #555555;
}
.footer-widget .widget-footer .latest-post-widget a:hover, .footer-widget .widget_nav_menu ul li a:hover, .footer-widget .widget-footer a:hover{
    color: #999999;
}
.footer-widget .textwidget{
    color: #000000;
}
.latest-post-wrap h5, .footer-widget .widget_nav_menu ul li a:before{
    border-bottom-color: #dddddd;
}




section.elementor-element.elementor-element-bnjsyof.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section{
    padding-top: 0;
}
.foot-col.column.column-2.item-col-2.vertical.text-left.clearfix{
    padding: 60px 20px 60px 60px;
}
.logo-footer.foot-col-item{
    text-align: center;
    margin-top: 0;
    padding: 30px 0
}

@media only screen and (max-width: 768px){
    .foot-col.column.column-2.item-col-2.vertical.text-left.clearfix{
        padding:10px 0;
        text-align: left;
    }
    .logo-footer.foot-col-item{
        padding:10px 0;
    }
    div#copyright ul{
        padding:15px;
    }
}